backports.functools-lru-cache
bleach
certifi
colorama
cycler
decorator
entrypoints
fastcluster
graphviz
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyterthemes
lesscpy
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
numexpr
numpy
pandas
pandocfilters
parso
patsy
pickleshare
ply
prompt-toolkit
Pygments
pyparsing
pyteomics
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
seaborn
simplegeneric
six
statsmodels
tables
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
wincertstore
